.Warehouseform{
    display: flex;
    flex-direction: column;
    width : 100%;
    margin-top: 200px;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  form {
    display: flex;
    flex-direction: column;
    
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="checkbox"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  